# chord_drs specific
db.sqlite3
.env

# added at runtime by bentoV2
chord_drs/startup.sh

# testing related
.coverage*
.tox
htmlcov/

# IDE stuff
.idea/$CACHE_FILE$
.idea/dataSources*
.idea/rSettings.xml
.idea/workspace.xml
*.swp
*.swo
.vscode

# others
*.pyc
env
__pycache__
data/
