# chord_drs specific
db.sqlite3
.env

# added at runtime by bentoV2
chord_drs/startup.sh

# testing related
.coverage*
.tox
htmlcov/

# IDE stuff
.idea/*
*.swp
*.swo
.vscode/*
!.vscode/launch.json

# others
*.pyc
env
__pycache__
data/
